Repository AlexWayfer/flame_app_generator: changes, and which Cirrus tasks are due for each by the changed paths.
All: remark, bundle-audit, rubocop, rspec

remark:
  container:
    image: node
  node_modules_cache:
    folder: node_modules
    fingerprint_script:
    - echo $CIRRUS_OS
    - node -v
    - cat package.json
  install_script: npm install
  lint_script: npm run remark

bundle-audit:
  bundle_cache:
    folder: /usr/local/bundle
    fingerprint_script:
    - echo $CIRRUS_OS
    - ruby -v
    - cat Gemfile
    - cat *.gemspec
  install_script:
  - gem install bundler
  - bundle update
  container:
    image: ruby
  audit_script: bundle exec bundle-audit check --update

rubocop:
  bundle_cache:
    folder: /usr/local/bundle
    fingerprint_script:
    - echo $CIRRUS_OS
    - ruby -v
    - cat Gemfile
    - cat *.gemspec
  install_script:
  - gem install bundler
  - bundle update
  container:
    image: ruby
  lint_script: bundle exec rubocop
  always:
    rubocop_artifacts:
      path: rubocop.json
  ...

rspec:
  bundle_cache:
    folder: /usr/local/bundle
    fingerprint_script:
    - echo $CIRRUS_OS
    - ruby -v
    - cat Gemfile
    - cat *.gemspec
  install_script:
  - gem install bundler
  - bundle update
  container:
    matrix:
    - image: ruby:3.0
    - image: ruby:3.1
    - image: ruby:3.2
    - image: ruby:3.3
  ...

Update Renovate configuration file
  renovate.json
Due: none

Drop Ruby 3.0 and 3.1 support
  .cirrus.yaml
  .rubocop.yml
  flame_app_generator.gemspec
Due: remark, bundle-audit, rubocop, rspec

Update `gem_toys` and `toys` dependencies
  Gemfile
Due: bundle-audit, rubocop, rspec

Update runtime dependencies
  flame_app_generator.gemspec
Due: bundle-audit, rubocop, rspec

Add Ruby 4.0 support
  .cirrus.yaml
  flame_app_generator.gemspec
Due: remark, bundle-audit, rubocop, rspec

Update RuboCop and its plugins
  Gemfile
  spec/flame_app_generator/command_spec.rb
Due: bundle-audit, rubocop, rspec

Improve updating system gems in CI
  .cirrus.yaml
Due: remark, bundle-audit, rubocop, rspec

Resolve new `bundle update` deprecation warning in CI
  .cirrus.yaml
Due: remark, bundle-audit, rubocop, rspec

Update version to 1.0.0
  CHANGELOG.md
  lib/flame_app_generator/version.rb
Due: remark, rubocop, rspec

Convert Cirrus CI config into GH Actions
  .cirrus.yaml
  .github/workflows/ci.yml
Due: remark, bundle-audit, rubocop, rspec

Improve Arrays syntax in GH Actions config
  .github/workflows/ci.yml
Due: none

Remove RuboCop artifacts from GH Actions
  .github/workflows/ci.yml
Due: none

Remove extra config of `TMPDIR` for GH Actions
  .github/workflows/ci.yml
Due: none

Replace `ref == 'refs/heads/main'` with `ref_name == 'main'`
  .github/workflows/ci.yml
Due: none

Replace `ruby-version: default` with `'ruby'` in GH Actions config
  .github/workflows/ci.yml
Due: none

Try to fix Node.js version in GH Actions
  .github/workflows/ci.yml
Due: none

Remove extra single quotes from GH Actions config
  .github/workflows/ci.yml
Due: none

Remove cache for `npm`
  .github/workflows/ci.yml
Due: none

Update dependency groups for coverage
  .github/dependabot.yml
  renovate.json
Due: none

Update `toys` development dependency
  Gemfile
Due: bundle-audit, rubocop, rspec

Lock `simplecov` on minor version
  Gemfile
Due: bundle-audit, rubocop, rspec

Path conditions:
  remark: any of: .cirrus.yaml, package.json, .remarkrc.yaml, **.md
  bundle-audit: any of: .cirrus.yaml, .gitignore, Gemfile, *.gemspec
  rubocop: any of: .cirrus.yaml, .gitignore, Gemfile, .rubocop.yml, *.gemspec, **.rb, **.ru
  rspec: any of: .cirrus.yaml, .gitignore, Gemfile, .rspec, *.gemspec, lib/**, spec/**
